[submodule "external/source/ReflectiveDLLInjection"]
	path = external/source/ReflectiveDLLInjection
	url = https://github.com/rapid7/ReflectiveDLLInjection.git
[submodule "msfdb"]
	url = https://github.com/shizzz477/metasploit-framework.git
